Source: ruby-ffi-icu
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders:  <Marek.Veber@solnet.cz>
Build-Depends: debhelper (>= 7.0.50~), gem2deb, ruby-rspec, rake
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/ruby-ffi-icu.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-ruby-extras/ruby-ffi-icu.git;a=summary
Homepage: http://github.com/jarib/ffi-icu
Testsuite: autopkgtest
XS-Ruby-Versions: all

Package: ruby-ffi-icu
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, ruby-ffi, libicu48 | libicu52
Conflicts: libicu34, libicu36, libicu38, libicu44
Description: Simple Ruby FFI wrappers for things I need from ICU.
 Provides charset detection, locale sensitive collation and more. Depends on libicu.
